<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
  <appSettings>
    <add key="endpoint.name" value="Scheduler_Original"/>
  </appSettings>
-->
  <connectionStrings>
    <add name="NServiceBus/Persistence" 
         connectionString="Url=http://localhost:8080;ResourceManagerId=d5723e19-92ad-4531-adad-8611e6e05c8a" />
  </connectionStrings>
</configuration>