<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--
  <appSettings>
    <add key="endpoint.name" value="Scheduler_Duplicate"/>
  </appSettings>
-->

  <connectionStrings>
    <add name="NServiceBus/Persistence" 
         connectionString="Url=http://localhost:8080;ResourceManagerId=ed8f1308-2a96-4c3f-ba54-f9c8a8054c3f" />
  </connectionStrings>
</configuration>